.layoutContainer { 
    display: grid;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-columns: 1fr 3fr;
    min-height: 100vh;
    grid-template-areas:    
    "header header"
    "banner banner"
    "left-aside main"
    "left-aside low-content"
    "footer footer";
    grid-gap: 10px;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;

    @media (max-width: 768px) {
        grid-template-rows: auto auto auto 1fr auto auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "banner"
        "left-aside"
        "main"
        "low-content"
        "footer";
    }

    > * {
        padding: 10px;
        border-radius: 5px;
    }

    .header { 
        grid-area: header; 
        background-color: #FF9AA2; // Light red
    }
    .banner { 
        grid-area: banner; 
        background-color: #FFB7B2;
        width: 90%; // Adjust width as needed
        margin: 0 auto; // Center horizontally
        position: absolute; // Position absolutely
        top: 80px; // Adjust to intersect with header
        left: 0;
        right: 0;
        height: 100px; // Adjust as needed
        z-index: 2; // Ensure banner is above header
    }
    .left-aside { 
        grid-area: left-aside; 
        background-color: #FFDAC1; // Light peach
    }
    .main { 
        grid-area: main; 
        background-color: #E2F0CB; // Light green
    }
    .low-content { 
        grid-area: low-content; 
        background-color: #B5EAD7; // Mint green
    }
    .footer { 
        grid-area: footer; 
        background-color: #C7CEEA; // Light blue
    }
}